{% extends 'navegacion.html.twig' %}

{% block content %}

    <h1 class="mb-5">
        {% if delegacion.id %}
            Delegaci칩n {{ delegacion.nombre }}
        {% else %}
            Alta Delegaci칩n
        {% endif %}
    </h1>
    <a href="{{ path('delegacion_portada') }}" class="btn btn-info"><i class="fas fa-arrow-alt-circle-left"></i> Volver atr치s</a>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Guardar</button>
    {% if not delegacion.id %}
        <button type="reset" class="btn btn-warning"><i class="fas fa-broom"></i> Limpiar</button>
    {% else %}
        <a href="{{ path('delegacion_eliminar',{'id': delegacion.id}) }}" class="btn btn-danger"><i class="fas fa-trash"></i> Dar de baja</a>
    {% endif %}
    <a href="{{ path('delegaciones_listar') }}" class="btn btn-info"><i class="fas fa-arrow-alt-circle-left"></i> Volver al listado </a>

    {{ form_end(form) }}
{% endblock %}

{% block title %}
    Delegaci칩n
{% endblock %}

