{% extends 'navegacion.html.twig' %}

{% block title %}
    Delegaciones
{% endblock %}


{% block content %}

    <h1>Delegaciones</h1>
    <a href="{{ path('delegacion_portada') }}" class="btn btn-info"><i class="fas fa-arrow-alt-circle-left"></i> Volver atrás</a>
    <table class="table table-bordered table-striped text-center">
        <thead class="thead-dark">
        <tr>
            <td>Editar</td>
            <td>Nombre</td>
            <td>Dirección</td>
            <td>Ciudad</td>
            <td>provincia</td>
            <td>Código Postal</td>
            <td>Teléfono</td>
            <td>Email</td>
        </tr>
        </thead>
        <tbody>
        {% for delegacion in paginador.currentPageResults %}
            <tr>
                <td><a href="{{ path('delegaciones_form',{'id': delegacion.id}) }}" class="btn btn-primary"><i class="fas fa-pen"></i></a></td>
                <td>{{ delegacion.nombre }}</td>
                <td>{{ delegacion.direccion}}</td>
                <td>{{ delegacion.ciudad }}</td>
                <td>{{ delegacion.provincia }}</td>
                <td>{{ delegacion.cPostal }}</td>
                <td>{{ delegacion.telefono }}</td>
                <td>{{ delegacion.email }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if paginador and paginador.haveToPaginate %}
        {{ pagerfanta(paginador,'twitter_bootstrap4') }}
    {% endif %}
{% endblock %}