{% extends 'navegacion.html.twig' %}

{% block title %}
    Albaranes
{% endblock %}

{% block content %}

    <h1>Contenido albarán</h1>
    <a href="{{ path('altas_contenido',{'id': albaran.id}) }}" class="btn btn-success"><i class="fas fa-plus-circle"></i> Añadir contenido</a>
    <table class="table table-bordered table-striped text-center">
        <thead class="thead-dark">
        <tr>
            <td>ID</td>
            <td>Producto</td>
            <td>Cantidad</td>
            <td>Total(P.V.P * Unidades)</td>
        </tr>
        </thead>
        <tbody>
        {% for content in contenido %}
            <tr>
                <td><a href="{{ path('contenido_form',{'albaran': albaran.id,'id': content.id}) }}">{{ content.id }}</a></td>
                <td>{{ content.producto }}</td>
                <td>{{ content.cantidad }}</td>
                <td>{{ content.total }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('albaranes_Listar') }}" class="btn btn-info"><i class="fas fa-arrow-alt-circle-left"></i> Volver al listado </a>
{% endblock %}
