{% extends 'navegacion.html.twig' %}

{% block content %}

    <h1 class="mb-5">
        {% if producto.id %}
            Producto {{ producto.nombre }}
        {% else %}
            Alta producto
        {% endif %}
    </h1>
    <a href="{{ path('producto_portada') }}" class="btn btn-info mt-5 mb-5"><i class="fas fa-arrow-alt-circle-left"></i> Volver atrás</a>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_row(form.imagen) }}
    <button type="submit" class="btn btn-success mt-5"><i class="fas fa-save"></i> Guardar</button>
    {% if not producto.id %}
        <button type="reset" class="btn btn-warning mt-5"><i class="fas fa-broom"></i> Limpiar</button>
    {% else %}
        <a href="{{ path('productos_eliminar',{'id': producto.id}) }}" class="btn btn-danger mt-5"><i class="fas fa-trash"></i> Borrar</a>
    {% endif %}
    <a href="{{ path('productos_Listar') }}" class="btn btn-info mt-5"><i class="fas fa-arrow-alt-circle-left"></i> Ir al listado </a>
    {{ form_end(form) }}
{% endblock %}

{% block title %}
    Productos
{% endblock %}

