{% extends 'navegacion.html.twig' %}

{% block title %}
    Productos
{% endblock %}


{% block content %}

    <h1>Productos</h1>
    <a href="{{ path('altas_productos') }}" class="btn btn-success"><i class="fas fa-plus-circle"></i> Añadir producto</a>
    <table class="table table-bordered table-striped text-center">
        <thead class="thead-dark">
        <tr>
            <td>Imagen</td>
            <td>Nombre</td>
            <td>Tipo</td>
            <td>Precio</td>
            <td>Stock</td>
        </tr>
        </thead>
        <tbody>
        {% for producto in productos %}
            <tr>
                <td><img src="{% if producto.imagen %} {{ asset('imagenesProductos/') }}{{ producto.imagen }} {% else %} {{ asset('imagenesProductos/sin-imagen12.jpg') }}{% endif %}" width="100px"></td>
                <td><a href="{{ path('productos_form',{'id': producto.id}) }}">{{ producto.nombre }}</a></td>
                <td>{{ producto.tipo }}</td>
                <td>{{ producto.precio }}</td>
                <td>{{ producto.cantidad}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}