<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no user-scalable=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon"  type="image/x-icon" href="{{ asset('favicon.ico') }}">
        <link rel="stylesheet" href="{{ asset('bootstrap-4.4.1-dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{asset('fontawesome-free-5.13.0-web/css/all.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/menuInicio.css') }}">
        <link rel="stylesheet" href="{{ asset('css/estilos.css') }}">

    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="{{asset('jquery/jquery-3.4.1.js')}}"></script>
        <script src="{{asset('bootstrap-4.4.1-dist/js/bootstrap.min.js')}}"></script>
        <script src="{{ asset('fontawesome-free-5.13.0-web/js/all.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
