{% extends 'base.html.twig' %}

{% block body %}

    <div id="wrapper" class="animate">
        <nav class="navbar header-top fixed-top navbar-expand-lg navbar-dark bg-navegacion">
            <a class="navbar-brand" href="{{ path('portada') }}">RobCo Security</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav animate side-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('portada') }}" title="Pagina Principal"><i class="fas fa-home"></i>Inicio<i class="fas fa-home shortmenu animate"></i></a>
                    </li>
                    {% if is_granted('ROLE_GESTOR') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('cliente_portada') }}" title="Clientes"><i class="fas fa-briefcase"></i> Clientes <i class="fas fa-briefcase shortmenu animate"></i></a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_INSTALADOR') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('parte_portada') }}" title="Partes"><i class="fas fa-clipboard-check"></i> Partes <i class="fas fa-clipboard-check shortmenu animate"></i></a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMINISTRADOR') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('empleado_portada') }}" title="Empleados"><i class="fas fa-user-friends"></i> Empleados <i class="fas fa-user-friends shortmenu animate"></i></a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_GESTOR') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('factura_portada') }}" title="Facturas"><i class="fas fa-file-invoice-dollar"></i> Facturas <i class="fas fa-file-invoice-dollar shortmenu animate"></i></a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_GESTOR') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('albaran_portada') }}" title="Albaranes"><i class="fas fa-file-signature"></i> Albaranes <i class="fas fa-file-signature shortmenu animate"></i></a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMINISTRADOR') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('producto_portada') }}" title="Almacén"><i class="fas fa-industry"></i> Almacén <i class="fas fa-industry shortmenu animate"></i></a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_COMERCIAL') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('presupuesto_portada') }}" title="Presupuestos"><i class="fas fa-file-alt"></i> Presupuestos <i class="fas fa-file-alt shortmenu animate"></i></a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMINISTRADOR') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('delegacion_portada') }}" title="Delegación"><i class="fas fa-building"></i> Delegación <i class="fas fa-building shortmenu animate"></i></a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('portada_informes') }}" title="Informes"><i class="fas fa-book"></i> Informes <i class="fas fa-book shortmenu animate"></i></a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_GESTOR') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('envioMensaje') }}" title="Mensajes"><i class="fas fa-envelope"></i> Mensajes <i class="fas fa-envelope shortmenu animate"></i></a>
                        </li>
                    {% endif %}
                    <li class="nav-item" id="usuardio2">
                        {% if app.user %}
                            <a class="nav-link" href="{{ path('usuario_salir') }}" title="Salir"><i class="fas fa-sign-out-alt"></i> Salir <i class="fas fa-sign-out-alt shortmenu animate"></i></a>
                        {% else %}
                            <a class="nav-link" href="{{ path('usuario_entrar') }}" title="Entar"><i class="fas fa-sign-in-alt"></i> Entrar <i class="fas fa-sign-in-alt shortmenu animate"></i></a>
                        {% endif %}
                    </li>
                    {% if app.user %}
                        <li class="nav-item" id="usuardio2" >
                            <a class="nav-link" href="{{ path('usuario_perfil') }}" title="Perfil"><i class="fas fa-user"></i> Perfil <i class="fas fa-user shortmenu animate"></i></a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav ml-md-auto d-md-flex">
                    {% if app.user %}
                    <li class="nav-item " id="usuardio">
                        <a class="nav-link" href="{{ path('usuario_perfil') }}" ><i class="fas fa-user"></i> Perfil</a>
                    </li>
                    {% endif %}
                    <li class="nav-item " id="usuardio">
                        {% if app.user %}
                            <a class="nav-link" href="{{ path('usuario_salir') }}"><i class="fas fa-sign-out-alt"></i> Salir</a>
                        {% else %}
                            <a class="nav-link" href="{{ path('usuario_entrar') }}"><i class="fas fa-sign-in-alt"></i> Entrar</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            {% for mensaje in app.session.flashBag.get('success') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ mensaje }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
            {% endfor %}
            {% for mensaje in app.session.flashBag.get('error') %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ mensaje }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
            {% endfor %}
            {% block formularios %}
            {% endblock %}
        </div>
        <div class="container-fluid ">
            {%  block content %}{% endblock %}
        </div>

    </div>


{% endblock %}