{% extends 'navegacion.html.twig' %}

{% block content %}

    <h1>
        {% if datos.id %}
            Domiciliación {{ datos.cliente }}
        {% else %}
            Añadir Domiciliación
        {% endif %}
    </h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Guardar</button>
    {% if not datos.id %}
        <button type="reset" class="btn btn-warning"><i class="fas fa-eraser"></i> Limpiar</button>
    {% else %}
        <a href="{{ path('domiciliacion_eliminar',{'id':datos.id}) }}" class="btn btn-danger"><i class="fas fa-trash"></i> Borrar domiciliación</a>
    {% endif %}
    <a href="{{ path('clientes_form',{'id': datos.cliente.id}) }}" class="btn btn-info"><i class="fas fa-arrow-alt-circle-left"></i> Volver atrás</a>
    {{ form_end(form) }}
{% endblock %}

{% block title %}
    Domiciliación
{% endblock %}

