{% extends 'navegacion.html.twig' %}

{% block formularios %}

    <h1 class="mb-5 bg-navegacion-cabecera ">
        {% if datos.id %}
            Domiciliación {{ datos.cliente }}
        {% else %}
            Añadir Domiciliación
        {% endif %}
    </h1>
    <div class="bg-cuadrosNavegacion p-5">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn bg-success2 mt-5"><i class="fas fa-save"></i> Guardar</button>
    {% if not datos.id %}
        <button type="reset" class="btn bg-warning2 mt-5"><i class="fas fa-eraser"></i> Limpiar</button>
    {% else %}
        <a href="{{ path('domiciliacion_eliminar',{'id':datos.id}) }}" class="btn bg-danger2 mt-5"><i class="fas fa-trash"></i> Borrar domiciliación</a>
    {% endif %}
    <a href="{{ path('clientes_form',{'id': datos.cliente.id}) }}" class="btn bg-info2 mt-5"><i class="fas fa-arrow-alt-circle-left"></i> Volver atrás</a>
    {{ form_end(form) }}
    </div>
{% endblock %}

{% block title %}
    Domiciliación
{% endblock %}

