{% extends 'navegacion.html.twig' %}

{% block title %}
    Datos bancarios cliente {{ cliente.id }}
{% endblock %}


{% block content %}


    <h1 class="bg-navegacion-cabecera mb-5">Datos bancarios cliente</h1>
    <a href="{{ path('domiciliacion_alta',{"id": cliente.id}) }}" class="btn bg-success2 mb-5"><i class="fas fa-plus-circle"></i> Añadir Domiciliación</a>
    <table class="table table-bordered table-striped text-center bg-cuadrosNavegacion">
        <thead class="bg-dark bg-navegacion-cabecera">
        <tr>
            <td>Cliente</td>
            <td>IBAN</td>
            <td>Moneda</td>
            <td>Entidad</td>
            <td>Sucursal</td>
            <td>BIC</td>
        </tr>
        </thead>
        <tbody>
        {% for dato in datos %}
            <tr>
                <td><a href="{{ path('domiciliacion_form',{'id': dato.id}) }}">{{ dato.cliente }}</a></td>
                <td>{{ dato.iban }}</td>
                <td>{{ dato.moneda }}</td>
                <td>{{ dato.entidad }}</td>
                <td>{{ dato.sucursal }}</td>
                <td>{{ dato.bic }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('clientes_form',{'id': cliente.id}) }}" class="btn bg-info2 mt-5"><i class="fas fa-arrow-alt-circle-left"></i> Volver atrás</a>
{% endblock %}