{% extends 'navegacion.html.twig' %}

{% block title %}
    Clientes
{% endblock %}


{% block content %}


    <h1 class="bg-navegacion-cabecera">Clientes</h1>
    <a href="{{ path('cliente_portada') }}" class="btn bg-info2 mt-3 mb-3"><i class="fas fa-arrow-alt-circle-left"></i> Volver atrás</a>
    <p>
        <div class="input-group mb-3">
            <div>
                <input type="text" name="palabra" id="palabra" placeholder="Buscar ..">
            </div>
            <div>
                <button class="btn bg-warning2" id="btnLimpiar"><i class="fas fa-broom"></i> Limpiar</button>
            </div>
        </div>

    </p>
    <table class="table table-bordered table-striped text-center bg-cuadrosNavegacion" id="tabla1">
        <thead class="bg-dark bg-navegacion-cabecera">
        <tr>
            <td>Editar</td>
            <td>Nombre</td>
            <td>Apellidos</td>
            <td>D.N.I</td>
            <td>Edad</td>
            <td>Dirección</td>
            <td>Ciudad</td>
            <td>provincia</td>
            <td>Código Postal</td>
            <td>Teléfono</td>
            <td>Email</td>
            <td>Estado</td>
        </tr>
        </thead>
        <tbody>
        {% for cliente in paginador.currentPageResults %}
            <tr>
                <td><a href="{{ path('clientes_form',{'id': cliente.id}) }}" class="btn bg-primary2"><i class="fas fa-pen"></i></a></td>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.apellidos }}</td>
                <td>{{ cliente.dni }}</td>
                <td>{{ cliente.fechaNacimiento|date("d/m/Y") }}</td>
                <td>{{ cliente.direccion }}</td>
                <td>{{ cliente.ciudad }}</td>
                <td>{{ cliente.provincia }}</td>
                <td>{{ cliente.cPostal }}</td>
                <td>{{ cliente.telefono }}</td>
                <td>{{ cliente.email }}</td>
                <td>{% if cliente.estado %} <a href="#" class="btn btn-success">ALTA</a>{% else %}<a href="#" class="btn btn-danger">BAJA</a>{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <table class="table table-bordered table-striped text-center bg-cuadrosNavegacion" id="tabla2">
        <thead class="bg-dark bg-navegacion-cabecera">
        <tr>
            <td>Editar</td>
            <td>Nombre</td>
            <td>Apellidos</td>
            <td>D.N.I</td>
            <td>Edad</td>
            <td>Dirección</td>
            <td>Ciudad</td>
            <td>provincia</td>
            <td>Código Postal</td>
            <td>Teléfono</td>
            <td>Email</td>
            <td>Estado</td>
        </tr>
        </thead>
        <tbody id="hola">

        </tbody>
    </table>
    <script src="{{ asset('jquery/jquery-3.4.1.js') }}"></script>
    <script>
        $(function () {

            $("#tabla2").hide();

        })
        $("#palabra").on("keyup",function () {


            var texto = document.getElementById("palabra").value;
            var datos = {};
            var fila;
            var celda,celda0,textoCelda;
            var celda1,textoCelda1;
            var celda2,textoCelda2,celda3,textoCelda3,celda4,textoCelda4,celda5,textoCelda5;
            var celda6,textoCelda6,celda7,textoCelda7,celda8,textoCelda8,celda9,textoCelda9;
            var celda10,textoCelda10;
            var celda11;
            var enlace,enlace2;
            var icono;

            datos.palabra = texto;

            if(!texto){

                $("table").show();
                $(".pagination").show();
                $("#tabla2").hide();
            }
            else{

                $("table").hide();
                $(".pagination").hide();
                $("#tabla2").show();
                $("#tabla2 tbody").html("");
            }


            $.ajax({

                method: 'GET',
                url: '/cliente/buscar',
                data: datos,
                dataType:'json',
                async:true,
                success:function (respuesta) {

                    var tabla = document.getElementById("hola");

                    if(respuesta.length > 0){

                        for(let i = 0; i < respuesta.length; i++){

                            fila = document.createElement("tr");
                            celda11 = document.createElement("td");
                            icono = document.createElement("i");
                            celda = document.createElement("td");
                            celda0 = document.createElement("td");
                            enlace = document.createElement("a");
                            enlace.href ="/cliente/"+respuesta[i].id
                            textoCelda = document.createTextNode(respuesta[i].nombre);
                            celda1 = document.createElement("td");
                            textoCelda1 = document.createTextNode(respuesta[i].apellidos);
                            celda2 = document.createElement("td");
                            textoCelda2 = document.createTextNode(respuesta[i].dni);
                            celda3 = document.createElement("td");
                            var textoDefinitivo = (respuesta[i].fechaNacimiento.date).split(" ");
                            textoCelda3 = document.createTextNode(textoDefinitivo[0]);
                            celda4 = document.createElement("td");
                            textoCelda4 = document.createTextNode(respuesta[i].direccion);
                            celda5 = document.createElement("td");
                            textoCelda5 = document.createTextNode(respuesta[i].ciudad);
                            celda6 = document.createElement("td");
                            textoCelda6 = document.createTextNode(respuesta[i].provincia);
                            celda7 = document.createElement("td");
                            textoCelda7 = document.createTextNode(respuesta[i].CPostal);
                            celda8 = document.createElement("td");
                            textoCelda8 = document.createTextNode(respuesta[i].telefono);
                            celda9 = document.createElement("td");
                            textoCelda9 = document.createTextNode(respuesta[i].email);
                            celda10 = document.createElement("td");
                            if(respuesta[i].estado){
                                textoCelda10 = document.createTextNode("ALTA");
                                enlace2 = document.createElement("a");
                                enlace2.href = "#";
                                enlace2.appendChild(textoCelda10);
                                enlace2.classList.add("btn","btn-success");

                            }
                            else{
                                textoCelda10 = document.createTextNode("BAJA");
                                enlace2 = document.createElement("a");
                                enlace2.href = "#";
                                enlace2.appendChild(textoCelda10);
                                enlace2.classList.add("btn","btn-danger");
                            }

                            icono.classList.add("fas","fa-pen");
                            enlace.appendChild(icono);
                            enlace.classList.add("btn","bg-primary2");
                            celda1.appendChild(textoCelda1);
                            celda2.appendChild(textoCelda2);
                            celda3.appendChild(textoCelda3);
                            celda4.appendChild(textoCelda4);
                            celda5.appendChild(textoCelda5);
                            celda6.appendChild(textoCelda6);
                            celda7.appendChild(textoCelda7);
                            celda8.appendChild(textoCelda8);
                            celda9.appendChild(textoCelda9);
                            celda0.appendChild(textoCelda);
                            celda10.appendChild(enlace2);
                            celda.appendChild(enlace);
                            fila.appendChild(celda);
                            fila.appendChild(celda0);
                            fila.appendChild(celda1);
                            fila.appendChild(celda2);
                            fila.appendChild(celda3);
                            fila.appendChild(celda4);
                            fila.appendChild(celda5);
                            fila.appendChild(celda6);
                            fila.appendChild(celda7);
                            fila.appendChild(celda8);
                            fila.appendChild(celda9);
                            fila.appendChild(celda10);
                            tabla.appendChild(fila);

                        }
                    }
                    else{

                        textoCelda1 = document.createTextNode("NO HAY RESULTADOS");
                        tabla.appendChild(textoCelda1);
                    }



                },
                error: function (xhr,status) {

                    alert("Ha ocurrido un error")
                }

            })

        });

        $("#btnLimpiar").on("click",function () {

            $("#palabra").val("");
            $("#tabla1").show();
            $("#tabla2").hide();
            $(".pagination").show();

        });

    </script>
    {% if paginador and paginador.haveToPaginate %}
        {{ pagerfanta(paginador,'twitter_bootstrap4') }}
    {% endif %}
{% endblock %}