{% extends 'navegacion.html.twig' %}

{% block title %}
    Clientes
{% endblock %}


{% block content %}

    <h1>Clientes</h1>
    <a href="{{ path('altas_clientes') }}" class="btn btn-success"><i class="fas fa-plus-circle"></i> Añadir cliente</a>
    <table class="table table-bordered table-striped text-center">
        <thead class="thead-dark">
        <tr>
            <td>Nombre</td>
            <td>Apellidos</td>
            <td>D.N.I</td>
            <td>Edad</td>
            <td>Dirección</td>
            <td>Ciudad</td>
            <td>provincia</td>
            <td>Código Postal</td>
            <td>Teléfono</td>
            <td>Email</td>
            <td>Estado</td>
        </tr>
        </thead>
        <tbody>
        {% for cliente in paginador.currentPageResults %}
            <tr>
                <td><a href="{{ path('clientes_form',{'id': cliente.id}) }}">{{ cliente.nombre }}</a></td>
                <td>{{ cliente.apellidos }}</td>
                <td>{{ cliente.dni }}</td>
                <td>{{ cliente.fechaNacimiento|date("d/m/Y") }}</td>
                <td>{{ cliente.direccion }}</td>
                <td>{{ cliente.ciudad }}</td>
                <td>{{ cliente.provincia }}</td>
                <td>{{ cliente.cPostal }}</td>
                <td>{{ cliente.telefono }}</td>
                <td>{{ cliente.email }}</td>
                <td>{% if cliente.estado %} <a href="#" class="btn btn-success">ALTA</a>{% else %}<a href="#" class="btn btn-danger">BAJA</a>{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if paginador and paginador.haveToPaginate %}
        {{ pagerfanta(paginador,'twitter_bootstrap4') }}
    {% endif %}
{% endblock %}