{% extends 'navegacion.html.twig' %}

{% block title %}
    Empleados
{% endblock %}


{% block content %}

    <h1>Empleados</h1>
    <a href="{{ path('empleado_portada') }}" class="btn btn-info"><i class="fas fa-arrow-alt-circle-left"></i> Volver atrás</a>
    <table class="table table-bordered table-striped text-center">
        <thead class="thead-dark">
        <tr>
            <td>Editar</td>
            <td>Avatar</td>
            <td>Nombre</td>
            <td>Apellidos</td>
            <td>D.N.I</td>
            <td>Edad</td>
            <td>Dirección</td>
            <td>Ciudad</td>
            <td>provincia</td>
            <td>Código Postal</td>
            <td>Teléfono</td>
            <td>Email</td>
        </tr>
        </thead>
        <tbody>
        {% for empleado in paginador.currentPageResults %}
        <tr>
            <td><a href="{{ path('empleados_form',{'id': empleado.id}) }}" class="btn btn-primary"><i class="fas fa-pen"></i></a></td>
            <td><img src="{% if empleado.avatar %} {{ asset('avatares/') }}{{ empleado.avatar}} {% else %} {{ asset('avatares/person_8x10.png') }}{% endif %}" width="100px"></td>
            <td>{{ empleado.nombre }} </td>
            <td>{{ empleado.apellidos }}</td>
            <td>{{ empleado.dni }}</td>
            <td>{{ empleado.edad|date("d/m/Y") }}</td>
            <td>{{ empleado.direccion }}</td>
            <td>{{ empleado.ciudad }}</td>
            <td>{{ empleado.provincia }}</td>
            <td>{{ empleado.cPostal }}</td>
            <td>{{ empleado.telefono }}</td>
            <td>{{ empleado.email }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if paginador and paginador.haveToPaginate %}
        {{ pagerfanta(paginador,'twitter_bootstrap4') }}
    {% endif %}
{% endblock %}