{% extends 'navegacion.html.twig' %}

{% block formularios %}
    <div id="user" class="container profile">
        <div class="row">
            <div class="col text-center mt-3">
                <img alt="picture" src="{% if usuario.avatar %}{{ asset('avatares/') }}{{ usuario.avatar }}{% else %}{{ asset('avatares/person_8x10.png') }}{% endif %}" class="img-lg rounded-circle border shadow" />
                <h2 class="mt-3">{{ usuario.nombre }} {{ usuario.apellidos }}</h2>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Datos Personales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="address-tab" data-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="false">Dirección</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <table class="table table-hover table-sm table-properties">
                            <tr v-show="user.nickname">
                                <th>Usuario</th>
                                <td>{{usuario.usuario}}</td>
                            </tr>
                            <tr v-show="user.birthdate">
                                <th>Nombre</th>
                                <td>{{usuario.nombre}}</td>
                            </tr>
                            <tr v-show="user.locale">
                                <th>Apellidos</th>
                                <td>{{usuario.apellidos}}</td>
                            </tr>
                            <tr v-show="user.zoneinfo">
                                <th>Cumpleaños</th>
                                <td>{{usuario.edad|date("d/m/Y") }}</td>
                            </tr>
                        </table>
                    </div>

                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <table class="table table-hover table-sm table-properties">
                            <tr v-show="user.email">
                                <th>Correo Electrónico</th>
                                <td>{{usuario.email}}</td>
                            </tr>
                            <tr v-show="user.email_verified">
                                <th>Teléfono</th>
                                <td>{{usuario.telefono}}</td>
                            </tr>
                        </table>
                    </div>

                    <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                        <table class="table table-hover table-sm table-properties">
                            <tr v-show="user.address.country">
                                <th>Direccion</th>
                                <td>{{usuario.direccion}}</td>
                            </tr>
                            <tr v-show="user.address.postal_code">
                                <th>Ciudad</th>
                                <td>{{usuario.ciudad}}</td>
                            </tr>
                            <tr v-show="user.address.locality">
                                <th>Provincia</th>
                                <td>{{usuario.provincia}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="{{ path('usuario_perfil_form') }}" class="btn btn-info">Editar Datos</a>
{% endblock %}

{% block title %}

{% endblock %}

