{% extends 'navegacion.html.twig' %}

{% block title %}
    Albaranes
{% endblock %}


{% block content %}

    <h1>Albaranes</h1>
    <a href="{{ path('albaran_portada') }}" class="btn btn-info"><i class="fas fa-arrow-alt-circle-left"></i> Volver atrás</a>
    <table class="table table-bordered table-striped text-center">
        <thead class="thead-dark">
        <tr>
            <td>Editar</td>
            <td>Empleado</td>
            <td>Fecha</td>
            <td>Proveedor</td>
            <td>Añadir Contenido</td>
            <td>Albarán (PDF)</td>
        </tr>
        </thead>
        <tbody>
        {% for albaran in paginador.currentPageResults %}
            <tr>
                <td><a href="{{ path('albaranes_form',{'id': albaran.id}) }}" class="btn btn-primary"><i class="fas fa-pen"></i></a></td>
                <td>{{ albaran.empleado }}</td>
                <td>{{ albaran.fecha|date("d/m/Y") }}</td>
                <td>{{ albaran.proveedor }}</td>
                <td><a href="{{ path('contenido_Listar',{'id': albaran.id}) }}" class="btn btn-secondary"><i class="fas fa-eye"></i> Ver contenido</a></td>
                <td><a href="{{ path('albaran_informe',{'id': albaran.id}) }}" class="btn btn-warning"><i class="fas fa-download"></i> Generar Albaran</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if paginador and paginador.haveToPaginate %}
        {{ pagerfanta(paginador,'twitter_bootstrap4') }}
    {% endif %}
{% endblock %}