{% extends 'navegacion.html.twig' %}

{% block formularios %}

    <h1 class="bg-navegacion-cabecera">
        {% if albaran.id %}
            Albarán {{ albaran.id }}
        {% else %}
            Alta albarán
        {% endif %}
    </h1>
    <a href="{{ path('albaran_portada') }}" class="btn bg-info2 mt-5 mb-5"><i class="fas fa-arrow-alt-circle-left"></i> Volver atrás</a>
<div class="bg-cuadrosNavegacion p-5">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn bg-success2 mt-5"><i class="fas fa-save"></i> Guardar</button>
    {% if not albaran.id %}
        <button type="reset" class="btn bg-warning2 mt-5"><i class="fas fa-broom "></i> Limpiar</button>
    {% else %}
        <a href="{{ path('albaranes_eliminar',{'id': albaran.id}) }}" class="btn btn-danger mt-5"><i class="fas fa-trash"></i> Borrar</a>
    {% endif %}
    <a href="{{ path('albaranes_Listar') }}" class="btn bg-info2 mt-5"><i class="fas fa-arrow-alt-circle-left"></i> Ir al listado </a>
    {% if albaran.id %}
        <a href="{{ path('contenido_Listar',{'id': albaran.id}) }}" class="btn btn-secondary mt-5"><i class="fas fa-clipboard"></i> Contenido</a>
    {% endif %}
    {{ form_end(form) }}
    <div/>
{% endblock %}

{% block title %}
    Albaranes
{% endblock %}

