{% extends 'navegacion.html.twig' %}

{% block title %}
    Presupuesto Contenido
{% endblock %}

{% block content %}

    <h1 class="bg-navegacion-cabecera">Contenido presupuesto</h1>
    <a href="{{ path('altas_contenido_presupuesto',{'id': presupuesto.id}) }}" class="btn bg-success2"><i class="fas fa-plus-circle"></i> Añadir contenido</a>
    <table class="table table-bordered table-striped text-center bg-cuadrosNavegacion">
        <thead class="bg-dark bg-navegacion-cabecera">
        <tr>
            <td>Editar</td>
            <td>Producto</td>
            <td>Cantidad</td>
            <td>Total(P.V.P * Unidades)</td>
        </tr>
        </thead>
        <tbody>
        {% for content in contenido %}
            <tr>
                <td><a href="{{ path('contenido_presupuesto_form',{'presupuesto': presupuesto.id,'id': content.id}) }}" class="btn bg-primary2"><i class="fas fa-pen"></i></a></td>
                <td>{{ content.producto }}</td>
                <td>{{ content.cantidad }}</td>
                <td>{{ content.total }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('presupuestos_Listar') }}" class="btn bg-info2"><i class="fas fa-arrow-alt-circle-left"></i> Volver al listado </a>
{% endblock %}
