{% extends 'navegacion.html.twig' %}

{% block formularios %}

    <h1 class="bg-navegacion-cabecera">
        Enviar Mensaje
    </h1>

    <a href="{{ path('portada') }}" class="btn bg-info2 mt-5 mb-5"><i class="fas fa-arrow-alt-circle-left"></i> Volver atrás</a>
<div class="bg-cuadrosNavegacion p-5">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_row(form.adjunto) }}
    <button type="submit" class="btn bg-success2 mt-5"><i class="fas fa-paper-plane"></i> Enviar</button>
    <button type="reset" class="btn bg-warning2 mt-5"><i class="fas fa-broom"></i> Limpiar</button>
    {{ form_end(form) }}
</div>
{% endblock %}

{% block title %}
    Enviar Mensaje
{% endblock %}

