{% extends 'navegacion.html.twig' %}

{% block title %}
    Presupuestos
{% endblock %}


{% block content %}

    <h1>Presupuestos</h1>
    <a href="{{ path('altas_presupuestos') }}" class="btn btn-success"><i class="fas fa-plus-circle"></i> A침adir presupuesto</a>
    <table class="table table-bordered table-striped text-center">
        <thead class="thead-dark">
        <tr>
            <td>id</td>
            <td>Empleado</td>
            <td>Fecha</td>
            <td>Direcci칩n(Instalaci칩n)</td>
            <td>Contenido</td>
            <td>Presupuesto (PDF)</td>
            <td>Contrato</td>
        </tr>
        </thead>
        <tbody>
        {% for presupuesto in paginador.currentPageResults %}
            <tr>
                <td><a href="{{ path('presupuestos_form',{'id': presupuesto.id}) }}">{{ presupuesto.id }}</a></td>
                <td>{{ presupuesto.empleado }}</td>
                <td>{{ presupuesto.fecha|date("d/m/Y") }}</td>
                <td>{{ presupuesto.instalacion }}</td>
                <td><a href="{{ path('contenido_presupuesto_Listar',{'id': presupuesto.id}) }}" class="btn btn-info"><i class="fas fa-eye"></i> Ver contenido</a></td>
                <td><a href="{{ path('presupuesto_informe',{'id': presupuesto.id}) }}" class="btn btn-warning"><i class="fas fa-download"></i> Generar Presupuesto</a></td>
                <td>{% if presupuesto.contrato %}<a href="{{ asset('Contratos/')}}{{presupuesto.contrato}}" class="btn btn-warning"><i class="fas fa-download"></i> Descargar</a>{% else %}
                    <a href="#" class="btn btn-danger">No tiene</a>{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if paginador and paginador.haveToPaginate %}
        {{ pagerfanta(paginador,'twitter_bootstrap4') }}
    {% endif %}
    <h2 class="mt-5">Informaci칩n del cliente</h2>
    <p class="mt-5">
        <a href="{{ asset('Contrato.pdf') }} " target="_blank"  class="btn btn-success"> <i class="fas fa-file-pdf"></i> Generar Contrato (PDF)</a>
        <a href="{{ asset('Contrato.odt') }} " target="_blank"  class="btn btn-success"><i class="fas fa-file-word"></i> Generar Contrato (WORD)</a>
    </p>

{% endblock %}