{% extends 'navegacion.html.twig' %}

{% block title %}
    Presupuestos
{% endblock %}


{% block content %}

    <h1>Presupuestos</h1>
    <a href="{{ path('altas_presupuestos') }}" class="btn btn-success"><i class="fas fa-plus-circle"></i> Añadir presupuesto</a>
    <table class="table table-bordered table-striped text-center">
        <thead class="thead-dark">
        <tr>
            <td>id</td>
            <td>Empleado</td>
            <td>Fecha</td>
            <td>Dirección(Instalación)</td>
            <td>Contenido</td>
        </tr>
        </thead>
        <tbody>
        {% for presupuesto in paginador.currentPageResults %}
            <tr>
                <td><a href="{{ path('presupuestos_form',{'id': presupuesto.id}) }}">{{ presupuesto.id }}</a></td>
                <td>{{ presupuesto.empleado }}</td>
                <td>{{ presupuesto.fecha|date("d/m/Y") }}</td>
                <td>{{ presupuesto.instalacion }}</td>
                <td><a href="{{ path('contenido_presupuesto_Listar',{'id': presupuesto.id}) }}" class="btn btn-info"><i class="fas fa-eye"></i> Ver contenido</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if paginador and paginador.haveToPaginate %}
        {{ pagerfanta(paginador,'twitter_bootstrap4') }}
    {% endif %}
{% endblock %}