{% extends 'navegacion.html.twig' %}

{% block content %}

    <h1 class="mb-5">
        {% if factura.id %}
            Factura {{ factura.id }}
        {% else %}
            Alta factura
        {% endif %}
    </h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Guardar</button>
    {% if not factura.id %}
        <button type="reset" class="btn btn-warning"><i class="fas fa-broom"></i> Limpiar</button>
    {% else %}
        <a href="{{ path('facturas_eliminar',{'id': factura.id}) }}" class="btn btn-danger"><i class="fas fa-trash"></i> Borrar</a>
    {% endif %}
    <a href="{{ path('factura_portada') }}" class="btn btn-info"><i class="fas fa-arrow-alt-circle-left"></i> Volver atrás </a>
    {{ form_end(form) }}
{% endblock %}

{% block title %}
    Facturas
{% endblock %}

