{% extends 'navegacion.html.twig' %}

{% block title %}
    Partes
{% endblock %}


{% block content %}

    <h1 class="bg-navegacion-cabecera">Facturas</h1>
    <a href="{{ path('factura_portada') }}" class="btn bg-info2 mb-5 mt-5"><i class="fas fa-arrow-alt-circle-left"></i> Volver atrás</a>
    <table class="table table-bordered table-striped text-center bg-cuadrosNavegacion">
        <thead class="bg-dark bg-navegacion-cabecera">
        <tr>
            <td>Editar</td>
            <td>Empleado</td>
            <td>Cliente</td>
            <td>Fecha</td>
            <td>Concepto</td>
            <td>Precio sin iva</td>
            <td>Precio con iva</td>
            <td>PDF</td>
            <td>SEPA</td>
        </tr>
        </thead>
        <tbody>
        {% for factura in paginador.currentPageResults %}
            <tr>
                <td><a href="{{ path('facturas_form',{'id': factura.id}) }}" class="btn bg-primary2"><i class="fas fa-pen"></i></a></td>
                <td>{{ factura.empleado }}</td>
                <td>{{ factura.cliente }}</td>
                <td>{{ factura.fecha|date("d/m/Y") }}</td>
                <td>{{ factura.concepto}}</td>
                <td>{{ factura.precioSinIva }}</td>
                <td>{{ factura.precioConIva }}</td>
                <td><a href="{{ path('facturas_informe',{'id': factura.id}) }}" class="btn btn-warning"><i class="fas fa-file-invoice-dollar"></i> Generar factura</a></td>
                <td>
                    {% if factura.cliente.datosBancarios %}
                    <a href="{{ path('sepa_generar',{'id': factura.id}) }}" class="btn bg-info2"><i class="fas fa-download"></i> Generar SEPA</a>
                        {% else %}
                        No tiene domiciliación
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if paginador and paginador.haveToPaginate %}
        {{ pagerfanta(paginador,'twitter_bootstrap4') }}
    {% endif %}
{% endblock %}