{% extends 'navegacion.html.twig' %}

{% block title %}
    Partes
{% endblock %}


{% block content %}

    <h1>Facturas</h1>
    <a href="{{ path('altas_facturas') }}" class="btn btn-success"><i class="fas fa-plus-circle"></i> Añadir factura</a>
    <table class="table table-bordered table-striped text-center">
        <thead class="thead-dark">
        <tr>
            <td>id</td>
            <td>Empleado</td>
            <td>Cliente</td>
            <td>Fecha</td>
            <td>Concepto</td>
            <td>Precio sin iva</td>
            <td>Precio con iva</td>
            <td>PDF</td>
        </tr>
        </thead>
        <tbody>
        {% for factura in facturas %}
            <tr>
                <td><a href="{{ path('facturas_form',{'id': factura.id}) }}">{{ factura.id }}</a></td>
                <td>{{ factura.cliente }}</td>
                <td>{{ factura.empleado }}</td>
                <td>{{ factura.fecha|date("d/m/Y") }}</td>
                <td>{{ factura.concepto}}</td>
                <td>{{ factura.precioSinIva }}</td>
                <td>{{ factura.precioConIva }}</td>
                <td><a href="{{ path('facturas_informe',{'id': factura.id}) }}">Generar factura</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}