{% extends 'navegacion.html.twig' %}


{% block title %}
    Alta Parte
{% endblock %}


{% block formularios %}

    <h1 class="bg-navegacion-cabecera">
        {% if parte.id %}
            Parte{{ parte.id }}
        {% else %}
            Alta Parte
        {% endif %}
    </h1>
    <a href="{{ path('parte_portada') }}" class="btn bg-info2 mt-5 mb-5"><i class="fas fa-arrow-alt-circle-left"></i> Volver atrás</a>
<div class="bg-cuadrosNavegacion p-5">
    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button type="submit" class="btn bg-success2 mt-5"><i class="fas fa-save"></i> Guardar</button>

    <a href="{{ path('partes_Listar') }}" class="btn bg-info2 mt-5"><i class="fas fa-arrow-alt-circle-left"></i> Ir al listado</a>
    {% if not parte.id %}
        <button type="reset" class="btn bg-warning2 mt-5"><i class="fas fa-broom"></i> Limpiar</button>
    {% else %}

        {% if is_granted('ROLE_GESTOR') %}
        <a href="{{ path('partes_eliminar',{'id': parte.id}) }}" class="btn bg-danger2 mt-5"><i class="fas fa-trash"></i> Dar de baja</a>
        {% endif %}

    {%  endif %}

    {{ form_end(form) }}
<div/>
{% endblock %}

