{% extends 'navegacion.html.twig' %}

{% block title %}
    Partes
{% endblock %}


{% block content %}

    <h1 class="bg-navegacion-cabecera">Partes</h1>

    <a href="{{ path('parte_portada') }}" class="btn bg-info2"><i class="fas fa-arrow-alt-circle-left"></i> Volver atrás</a>

    <table class="table table-bordered table-striped text-center mt-3 bg-cuadrosNavegacion">
        <thead class="bg-dark bg-navegacion-cabecera">
        <tr>
            <td>Editar</td>
            <td>Cliente</td>
            <td>Delegación</td>
            <td>Empleado</td>
            <td>Fecha</td>
            <td>Observaciones</td>
            <td>Estado</td>
        </tr>
        </thead>
        <tbody>
        {% for parte in paginador.currentPageResults %}
            <tr>
                <td><a href="{{ path('partes_form',{'id': parte.id}) }}" class="btn bg-primary2"><i class="fas fa-pen"></i></a></td>
                <td>{{ parte.cliente }}</td>
                <td>{{ parte.delegacion }}</td>
                <td>{{ parte.empleado }}</td>
                <td>{{ parte.fecha|date("d/m/Y") }}</td>
                <td>{{ parte.observaciones }}</td>
                <td>{% if parte.estado %} <a href="#" class="btn btn-warning">ABIERTO</a>{% else %}<a href="#" class="btn btn-success">CERRADO</a>{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if paginador and paginador.haveToPaginate %}
        {{ pagerfanta(paginador,'twitter_bootstrap4') }}
    {% endif %}
{% endblock %}