{% extends 'navegacion.html.twig' %}

{% block title %}
    Partes
{% endblock %}


{% block content %}

    <h1>Partes</h1>
    {% if is_granted('ROLE_GESTOR') %}
    <a href="{{ path('partes_alta') }}" class="btn btn-success mt-3"><i class="fas fa-plus-circle"></i> Añadir parte</a>
    {% endif %}
    <table class="table table-bordered table-striped text-center mt-3">
        <thead class="thead-dark">
        <tr>
            <td>Editar</td>
            <td>Cliente</td>
            <td>Delegación</td>
            <td>Empleado</td>
            <td>Fecha</td>
            <td>Observaciones</td>
            <td>Estado</td>
        </tr>
        </thead>
        <tbody>
        {% for parte in paginador.currentPageResults %}
            <tr>
                <td><a href="{{ path('partes_form',{'id': parte.id}) }}" class="btn btn-primary"><i class="fas fa-pen"></i></a></td>
                <td>{{ parte.cliente }}</td>
                <td>{{ parte.delegacion }}</td>
                <td>{{ parte.empleado }}</td>
                <td>{{ parte.fecha|date("d/m/Y") }}</td>
                <td>{{ parte.observaciones }}</td>
                <td>{% if parte.estado %} <a href="#" class="btn btn-warning">ABIERTO</a>{% else %}<a href="#" class="btn btn-success">CERRADO</a>{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if paginador and paginador.haveToPaginate %}
        {{ pagerfanta(paginador,'twitter_bootstrap4') }}
    {% endif %}
{% endblock %}